body {
	font-family: "Inter", Arial, sans-serif;
}

a:link, a:visited {
	text-decoration: none;
	color:var(--link-color);
}

a:hover, a:active {
	text-decoration: underline;
	color:var(--active-link-color);
}

:root {
	color-scheme: light dark;
	--link-color: #0066cc;
	--active-link-color: #0052a3;
}
