body {
	font-family: "Inter", Arial, sans-serif;
}

a:link, a:visited {
	text-decoration: none;
	color:var(--link-color);
}

a:hover, a:active {
	text-decoration: underline;
}

:root {
	color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  body { --link-color: #0066cc; }
}

@media (prefers-color-scheme: dark) {
  body { --link-color: #2997ff; }
}